
@{
    ViewData["Title"] = "Index";
}

<!-- INTRO-PAGE AREA START -->
<section id="intro-page">
    <div class="container">
        <div class="row ">
            <div class="title-page text-center  ">
                <h2>
                    Categories
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- INTRO-PAGE AREA START -->
<!-- FEATURED CATEGORIES START -->
<section id="featured">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="title text-center">
                    <span>We are offering for you</span>
                    <h1>Featured Categories</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fal fa-hotel"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Leving Hotel</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fal fa-glass-cheers"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Night Life</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fas fa-home-lg"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Culture Place</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fas fa-concierge-bell"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Restaurant</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fal fa-hotel"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Leving Hotel</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fal fa-glass-cheers"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Night Life</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="fas fa-home-lg"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Culture Place</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
                <div class="card section-card text-center">
                    <div class="move-up">
                    </div>
                    <div class="card-icon mt-5">
                        <i class="far fa-utensils-alt"></i>
                    </div>
                    <div class="card-title">
                        <h5>
                            <a href="#">Restaurant</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p>Must explain your how this keind denoun pleasure</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- FEATURED CATEGORIES END -->

<!-- Easy to explore START -->
<section id="explore">
    <div class="container">
        <div class="d-flex row flex-wrap mt-5">
            <div class="col-lg-12">
                <div class="title text-center mt-5">
                    <span>Easy to explore</span>
                    <h1>How It Works</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 justify-content-between mt-5">
                <div class="services text-center mb-50">
                    <div class="spinner">
                        <div class="circle">
                        </div>
                        <div class="services-icon mr-5">
                            <i class="far fa-user-chart "></i>
                        </div>
                    </div>
                    <div class="services-text text-center">
                        <h5><a href="#">1. Choose a Category</a></h5>
                        <p>incidid labore lore magna aliqua <br> uisipsum suspendis loris.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 justify-content-between mt-5">
                <div class="services text-center mb-50">
                    <div class="spinner">
                        <div class="circle">
                        </div>
                        <div class="services-icon mr-5">
                            <i class="far fa-hand-holding-heart"></i>
                        </div>
                    </div>
                    <div class="services-text text-center">
                        <h5><a href="#">2. what you want</a></h5>
                        <p>incidid labore lore magna aliqua <br> uisipsum suspendis loris.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 justify-content-between mt-5">
                <div class="services text-center mb-50">
                    <div class="spinner">
                        <div class="circle">
                        </div>
                        <div class="services-icon mr-5">
                            <i class="fas fa-handshake-alt"></i>
                        </div>
                    </div>
                    <div class="services-text text-center">
                        <h5><a href="#">3. Go out & Explore</a></h5>
                        <p>incidid labore lore magna aliqua <br> uisipsum suspendis loris.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Easy to explore END -->
<!-- POPULAR LOCATIONS START -->
<section id="popular">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="title text-center">
                    <span>Most visited places</span>
                    <h1>Popular Locations</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <div class="single-card">
                    <div class="image-card">
                        <img src="~/assets/img/gallery/location1.png" alt="">
                    </div>
                    <div class="location-country">
                        <h1>New York</h1>
                        <div class="location-city-count">
                            <a href="#">65 <i class="fal fa-plus"></i> <span>Location</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <div class="single-card">
                    <div class="image-card">
                        <img src="~/assets/img/gallery/location2.png" alt="">
                    </div>
                    <div class="location-country">
                        <h1> Paris</h1>
                        <div class="location-city-count">
                            <a href="#">60 <i class="fal fa-plus"></i> <span>Location</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <div class="single-card">
                    <div class="image-card">
                        <img src="~/assets/img/gallery/location3.png" alt="">
                    </div>
                    <div class="location-country">
                        <h1> Rome</h1>
                        <div class="location-city-count">
                            <a href="#">50 <i class="fal fa-plus"></i> <span>Location</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <div class="single-card">
                    <div class="image-card">
                        <img src="~/assets/img/gallery/location4.png" alt="">
                    </div>
                    <div class="location-country">
                        <h1>
                            Italy
                        </h1>
                        <div class="location-city-count">
                            <a href="#">28 <i class="fal fa-plus"></i> <span>Location</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-12 col-12 mt-3">
                <div class="single-card">
                    <div class="image-card">
                        <img src="~/assets/img/gallery/location5.png" alt="">
                    </div>
                    <div class="location-country">
                        <h1>Nepal</h1>
                        <div class="location-city-count">
                            <a href="#">99 <i class="fal fa-plus"></i> <span>Location</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-12 col-12 mt-3">
                <div class="single-card">
                    <div class="image-card">
                        <img src="~/assets/img/gallery/location6.png" alt="">
                    </div>
                    <div class="location-country">
                        <h1>
                            indonesia
                        </h1>
                        <div class="location-city-count">
                            <a href="#">78 <i class="fal fa-plus"></i> <span>Location</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- POPULAR LOCATIONS END -->
