@model Bio

<section id="footer-area">
    <div class="container mt-5 footer-content ">
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="footer-logo ">
                    <a href="index.html">
                        <img src="~/assets/img/logo/@Model.Logo" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="footer-title ">
                    <h3>
                        Quick Link
                    </h3>
                    <ul class="footer-links mr-5">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Listing" asp-action="Index">Listing</a>
                        </li>
                        <li>
                            <a asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li>
                            <a asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="footer-title">
                    <h3>
                        Categories
                    </h3>
                    <ul class="footer-links">
                        <li>
                            <a href="#"> Hotel</a>
                        </li>
                        <li>
                            <a href="#"> Restaurant</a>
                        </li>
                        <li>
                            <a href="#">
                                Shopping
                            </a>
                        </li>
                        <li>
                            <a href="#">Night Life</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="footer-title">
                    <h3>Download App</h3>
                </div>
                <div class="app-img">
                    <div class="download-app1-images">
                        <img src="~/assets/img/gallery/@Model.AppStore" alt="">
                    </div>
                    <div class="download-app1-images">
                        <img src="~/assets/img/gallery/@Model.GooglePlay" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap footer-line mt-5">
            <div class="col-lg-7 mt-3">
                <div class="info-page">
                    <p>
                        Copyright ©2020 All rights reserved | This template is made with <i class="fas fa-heart"></i> by
                        <span>Sunal</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 mb-1">
                <div class="icons-sosial d-flex">
                    <div class="border-icon">
                        <i class="@Model.Facebook"></i>
                    </div>
                    <div class="border-icon">
                        <i class="@Model.Twitter"></i>
                    </div>
                    <div class="border-icon">
                        <i class="@Model.Whatsapp"></i>
                    </div>
                    <div class="border-icon">
                        <i class="@Model.Instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>