
@{
    ViewData["Title"] = "Index";
}

<!-- INTRO SECTION START -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="slogan col-lg-11 col-11 col-sm-11 col-md-11">

                <h4> Our Listing</h4>

                <div class="form-elements d-flex flex-wrap">
                    <form action="#" class="search-box">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-12">
                                <div class="input-group ">
                                    <input type="text" class="form-control inpt1" placeholder=" What are you looking for?">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-12">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        All Catagories
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Catagories One</a>
                                        <a class="dropdown-item" href="#">Catagories Two</a>
                                        <a class="dropdown-item" href="#">Catagories Three</a>
                                        <a class="dropdown-item" href="#">Catagories Four</a>
                                        <a class="dropdown-item" href="#">Catagories Five</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 col-12 ">
                                <div class="btn-search">
                                    <button type="button" class="btn btn-danger">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         </div>
        </div>
</section>
<!-- INTRO SECTION END -->

<!-- Create Listing START -->
<section id="create-listing">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="title">
                    <h4>
                        Advanced Filter
                    </h4>
                </div>
                <div class="search_listing">
                    <input type="text" class="form-control " placeholder="What are you doing ?" aria-label="Username"
                           aria-describedby="basic-addon1">
                    <div class="btn-group mt-3">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span> Choose categories</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Choose categories</button>
                            <button class="dropdown-item" type="button">Categorie 1</button>
                            <button class="dropdown-item" type="button">Categorie 2</button>
                            <button class="dropdown-item" type="button">Categorie 3</button>
                        </div>
                    </div>
                    <div class="btn-group mt-3">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span> Choose categories</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Choose categories</button>
                            <button class="dropdown-item" type="button">Categorie 1</button>
                            <button class="dropdown-item" type="button">Categorie 2</button>
                            <button class="dropdown-item" type="button">Categorie 3</button>
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                               aria-label="...">
                        <label class="form-check-label" for="exampleRadios1">
                            <span>Full Time</span>
                        </label>

                    </div>
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                               aria-label="...">
                        <label class="form-check-label" for="exampleRadios1">
                            <span> Ratings</span>
                        </label>

                    </div>
                    <div class="btn-group mt-3">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span> Area(km)</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">Choose categories</button>
                            <button class="dropdown-item" type="button">Categorie 1</button>
                            <button class="dropdown-item" type="button">Categorie 2</button>
                            <button class="dropdown-item" type="button">Categorie 3</button>
                        </div>
                    </div>
                    <div class="price-range">

                    </div>
                    <div class="button">
                        <button class="btn btn-secondary">RESET</button>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 d-flex flex-wrap">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <div class="listinig-card">
                            <div class="card">
                                <div class="img">
                                    <img src="~/assets/img/gallery/list1.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Open</a>
                                    <h5 class="card-title">
                                        <a href="#">Saintmartine</a>
                                    </h5>
                                    <p class="card-text">700/D, Kings road, Green lane, 85/ London</p>
                                    <hr>
                                    <span>+10 278 367 9823</span>
                                    <span class="ml-5">contact@midnight.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 -col-md-6 col-sm-12 col-12  mt-3">
                        <div class="listinig-card">
                            <div class="card">
                                <div class="img">
                                    <img src="~/assets/img/gallery/list2.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Open</a>
                                    <h5 class="card-title">
                                        <a href="#">Saintmartine</a>
                                    </h5>
                                    <p class="card-text">700/D, Kings road, Green lane, 85/ London</p>
                                    <hr>
                                    <span>+10 278 367 9823</span>
                                    <span class="ml-5">contact@midnight.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <div class="listinig-card">
                            <div class="card">
                                <div class="img">
                                    <img src="~/assets/img/gallery/list3.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Open</a>
                                    <h5 class="card-title">
                                        <a href="#">Saintmartine</a>
                                    </h5>
                                    <p class="card-text">700/D, Kings road, Green lane, 85/ London</p>
                                    <hr>
                                    <span>+10 278 367 9823</span>
                                    <span class="ml-5">contact@midnight.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 -col-md-6 col-sm-12 col-12  mt-3">
                        <div class="listinig-card">
                            <div class="card">
                                <div class="img">
                                    <img src="~/assets/img/gallery/list4.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Open</a>
                                    <h5 class="card-title">
                                        <a href="#">Saintmartine</a>
                                    </h5>
                                    <p class="card-text">700/D, Kings road, Green lane, 85/ London</p>
                                    <hr>
                                    <span>+10 278 367 9823</span>
                                    <span class="ml-5">contact@midnight.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <div class="listinig-card">
                            <div class="card">
                                <div class="img">
                                    <img src="~/assets/img/gallery/list5.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Open</a>
                                    <h5 class="card-title">
                                        <a href="#">Saintmartine</a>
                                    </h5>
                                    <p class="card-text">700/D, Kings road, Green lane, 85/ London</p>
                                    <hr>
                                    <span>+10 278 367 9823</span>
                                    <span class="ml-5">contact@midnight.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 -col-md-6 col-sm-12 col-12  mt-3">
                        <div class="listinig-card">
                            <div class="card">
                                <div class="img">
                                    <img src="~/assets/img/gallery/list6.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Open</a>
                                    <h5 class="card-title">
                                        <a href="#">Saintmartine</a>
                                    </h5>
                                    <p class="card-text">700/D, Kings road, Green lane, 85/ London</p>
                                    <hr>
                                    <span>+10 278 367 9823</span>
                                    <span class="ml-5">contact@midnight.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Create Listing END -->
