<div class="newsletter ml-5 mt-5">
    <h4>
        Newsletter
    </h4>
    <div class="search newsletter-form mc_embed_signup">
        <form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="mc-form input-group mb-3  mt-5">
                <input type="email" name="EMAIL" class="form-control email" id="mce-EMAIL" aria-label="Enter Mail" placeholder="Enter Mail" aria-describedby="basic-addon2">
            </div>
            <button id="mc-embedded-subscribe" type="button" class="btn btn-danger messageEmail success" name="subscribe">SUBSCRIBE</button>
         </form>
    </div>
</div>
