@model IEnumerable<PopularLocation>
@{
    ViewData["Title"] = "LocationCategory";
}


<!-- INTRO-PAGE AREA START -->
<section id="intro-page">
    <div class="container">
        <div class="row ">
            <div class="title-page text-center  ">
                <h2>
                    All Popular
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- INTRO-PAGE AREA START -->

<!-- POPULAR LOCATIONS START -->
<section id="popular">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="title text-center">
                    <h1>All Popular Locations</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            @foreach (PopularLocation popular in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                    <div class="single-card">
                        <div class="image-card">
                            <img src="~/assets/img/gallery/@popular.Image" alt="">
                        </div>
                        <div class="location-country">
                            <h1>@popular.CityName</h1>
                            <div class="location-city-count">
                                <a href="#">@popular.CityCount <i class="fal fa-plus"></i> <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- POPULAR LOCATIONS END -->
